<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <link href="/assets/css/layout-style.css" rel="stylesheet"/>
    <link href="/assets/css/colors-light.css" rel="stylesheet"/>

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

</head>

<body>


<header id="header">
    <h1><a href="/"></i> {{ site.name }}</a></h1>
    <p>{{ site.description }}</p>
</header>


<div id="page">
    <div id="sidebar">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/archives">Archive</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </div>


    <div id="content">
        {{ content }}
    </div>


</body>
</html>